<section id="tasks">
  @if (newTaskVisible) {
    <app-new-task
      (cancel)="newTaskVisible = false"
      (submit)="addTask($event); newTaskVisible = false"
    />
  }
  <header>
    <h2>{{ name }}'s Task</h2>
    <menu>
      <button (click)="newTaskVisible = true">Add Task</button>
    </menu>
  </header>
  <div></div>
  <ul>
    <li>
      @for (task of selectedUserTasks; track task) {
        <app-task [task]="task" (complete)="onComplete($event)" />
      }
    </li>
  </ul>
</section>
